
.nav {
  height: 23px;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: 1s;
  margin: 0%;
  padding: 0%;
  outline: none;
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid var(--border-color);

}
form {
margin-top: -2%;
margin-left: 41%;
opacity: 0;  
transition: 1s;
}
input {
    height: 30%;
    width: 30%;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Kaisei HarunoUmi;
    font-size: 100%;
    text-align: center;
  }
  
  input::-webkit-input-placeholder {
    background-color: var(--background-color);
    color: var(--text-color);
    font-style: italic;
    
  }


button{
    margin-top: 1%;
    margin-left: 1%;
    background-color: var(--background-color);
    color: var(--text-color);
    opacity: 0;
    transition: 1s;
    border: 1px solid var(--text-color);
    font-family: Kaisei Decol;
  font-size: 110%;
  width: 10%;
}

.openmenu{
    text-align: center;
    font-family: Kaisei Decol;
  font-size: 120%;
}


.nav:hover {
    height: 100px;
    transition: 1s;
}

.nav:hover>button{
    opacity: 1;
    
}

.nav:hover>form{
    opacity: 1;  
}

img{
    width: 4%; 
    height: 50%; 
    margin-top: -5%;
    margin-left: 95%
}

.nav:hover>a>img{
    opacity: 1;  
}
.nav>a>img{
    opacity: 0; 
    transition: 1s; 
}


