<section id="about">
    <div class="wrap-container">
      <h1 class="title">Tom Lamers</h1>
      <div class="section-container">
        <div class="section__pic-container">
          <img
            src="./assets/about-pic1.png"
            alt="Profile picture"
            class="about-pic"
          />
        </div>
        <div class="about-details-container">
          <div class="about-containers">
            <div class="details-container">
              <p>
                  I am a passionate person, looking for a new chapter in life, with new exciting opportunities.
                  In my past career I already had the opportunity to help develop data collecting applications, festival websites
                  and apps, as well as small online games that could be used for all different purposes used in the world of events
                  I am convinced a job in ICT can do that for me. At the moment i am still a junior developer, with a very steep
                  learning curve, happy to take on any challenge.
                  TIME FOR A NEW CHALLENGE AND READY TO GO!
              </p>
              <div id="socials-container">
                  <a href="https://www.linkedin.com/" target="_blank">
                      <img
                          src="./assets/linkedin.png"
                          alt="My linkedin profile"
                          class="icon"
                      />
                  </a>
                  <a href="https://github.com/2TomL" target="_blank">
                      <img
                          src="./assets/github.png"
                          alt="My Github profile"
                          class="icon"
                      />
                  </a>
                  <a href="./assets/resume-example.pdf" target="_blank">
                      <img 
                      src="./assets/Vector-Resume-PNG-HD.png"
                      alt="My resume"
                      class="icon"/>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <img
        src="./assets/arrow.png"
        alt="Arrow icon"
        class="icon arrow"
        onclick="location.href='./thanksto'"
      />
    </section>
