<div class="container">
    <header class="header">
        <nav>
            <div class="left-section">    
              <b>Project Details</b>             
            </div>
            <div class="right-section">
                <ul class="nav-links">
                    <li class="nav-link">
                      <a routerLink="projectdetails"alt="Arrow icon" class="icon arrow">Project</a>
                    </li>
                    <li class="nav-link">
                        <a routerLink="aboutus" class="team-players">Team Players</a>
                        <ul class="drop-down">
                          <li><a routerLink="aboutus" alt="Arrow icon" class="nav-links">Alina Berns</a></li>
                          <li><a routerLink="aboutus2" alt="Arrow icon" class="nav-links">Walid El Aazmani</a></li>
                          <li><a routerLink="aboutus3" alt="Arrow icon" class="nav-links">Tom Lamers</a></li>
                        </ul>
                    </li>
                    <li class="nav-link">
                      <a routerLink="thanksto"alt="Arrow icon" class="icon arrow">Thanks</a>
                    </li>
                    <li class="nav-link">
                      <a routerLink="libraryapp"alt="Arrow icon" class="icon arrow">Back to Library</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>
