<body class="content">
  <app-navbar> </app-navbar>
  <div class="container">
    <div class="my-custom-div">
      <div class="fixed-block"></div>
      <div class="scroll">
        <div id="line_block" class="hover-image-scale">
          <img src="/assets/book1.jpg" alt="" class="imgBook" />
          <span class="available">AVAILABLE</span>
          <div class="img__description">
            <p>
              <br />
              <br />
            </p>

            <div>
              <button class="btn btn-xs text-x">description</button>
            </div>
            <div>
              <button class="button5">ADD TO CART</button>
            </div>
            <div>
              <button class="button5">ALREADY IN CARD</button>
            </div>
          </div>
        </div>
      </div>
      <div class="userbox"></div>
    </div>
  </div>
</body>
