<body class="content">
  <app-navbar> </app-navbar>
  <div class="container">
    <div class="my-custom-div">
      <div class="fixed-block"></div>
      <div class="scroll">

        <!--BOOK-->
        <div id="line_block" class="hover-image-scale" *ngFor="let book of books">
          <img src="/assets/imgBooks/book{{book.id}}.jpg" alt="" class="imgBook" />
          <span [ngClass]="{
            'status-available': book.status === 'AVAILABLE',
            'status-reserved': book.status === 'RESERVED',
            'status-unavailable': book.status === 'UNAVAILABLE'
          }" >{{book.status}}</span>
          <div class="img__description">
            <div>
              <p>
                <b>{{book.title}}</b>
              </p>
            </div>
            <div>
              <button class="buttonBookDes">description</button>
            </div>
            <div>
              <button class="buttonBookDes" *ngIf="book.status === 'AVAILABLE' && cartItemCount < 5 && !bookIsInCart(book)" (click)="addToCart(book)">ADD TO CART</button>
            </div>
            <div>
              <button class="buttonBookDes" *ngIf="bookIsInCart(book)" [disabled]="true">ALREADY IN CARD</button>
            </div>
          </div>
        </div>

      </div>
      <div class="userbox">
        <img src="/assets/userPhotos/userPhoto1.png" alt="" class="userPhoto">
        <p class="userTextLogin">{{username}}</p>
        <p class="userTextEmail">{{email}}</p>
        <button class="buttonEditUser" routerLink="/account">EDIT PROFILE</button>
        <p class="userTextLogin">BORROWED BOOKS</p>
        <table>
          <thead>
            <td style="width: 25%; text-align: center;">image</td>
            <td style="width: 52%; text-align: center;">title</td>
            <td style="width:35%; text-align: center;">date of return</td>
          </thead>
          <div class="my-custom-div2">
            <div class="fixed-block"></div>
            <div class="scroll">
              <th style="width: 100px"></th>
              <th style="width: 200px;"></th>
              <th style="width: 200px;"></th>
              
              <tr *ngFor="let book of borrowedBooks">
                <td>
                  <img src="/assets/imgBooks/book1.jpg" alt="" class="imgBorrowedBook" />
                </td>
                <td>{{book.book.title}}</td>
                <td>{{book.dateOfReturn}}</td>

              </tr>
            </div>
          </div>
        </table>
      </div>
    </div>
  </div>
</body>
