.content {
  color: var(--text-color);
  transition: 1s;
  margin: 0%;
  padding: 0%;
  outline: none;
  top: 0;
  left: 0;
  right: 0;
  background-image: url(/assets/background_img6.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  animation: ani 2.5s forwards;
}

:root {
  --primary-color: #007bff;
  --background-color: #fff;
  --text-color: #333;
  transition: 1s;
}
.dark-theme {
  --primary-color: #42a5f5;
  --background-color: #333;
  --text-color: #fff;
  transition: 1s;
}

.my-custom-div {
  background-color: var(--background-color);
  color: var(--text-color); /* Uses the text-color variable */
  border: 1px solid var(--text-color);

  transition: 1s;
  width: 70%;
  height: 92%;
  margin-top: 1%;
  margin-left: 1%;
  position: fixed;
}
.my-custom-div2 {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: 1s;
  width: 27%;
  height: 34%;
  position: fixed;
}
table th {
  height: 5px;
  width: 200px;
}
.table2 th {
  height: 5px;
  width: 200px;
}
table tr {
  height: 50px;
  font-size: 17px;
  text-align: center;
}
.table2 tr {
  height: 50px;
  font-size: 17px;
  text-align: center;
}
table tr:nth-child(even) {
  background: #2d2d2d82 !important;
}
.table2 tr:nth-child(even) {
  background: #00000082 !important;
}
table tr:nth-child(even):hover {
  background: #b0b0b089 !important;
}
.table2 tr:nth-child(even):hover {
  background: #b0b0b089 !important;
}
table tr:hover {
  background: #b0b0b089 !important;
}
.table2 tr:hover {
  background: #b0b0b089 !important;
}


div.fixed-block {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
}
div.scroll {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0);
}

.container {
  position: relative;
  height: 100vh;
}
.userbox {
  background-color: var(--background-color);
  color: var(--text-color); /* Uses the text-color variable */
  border: 1px solid var(--text-color);

  transition: 1s;
  width: 27%;
  height: 92%;
  margin-top: 0%;
  margin-left: 71%;
  position: fixed;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.imgBook {
  margin-top: 4%;
  margin-left: 12%;
  width: 80%;
  height: 90%;
}

/* .imgBorrowedBook { */
/* margin-top: 10px; */
/* margin-left: 10px; */
/* width: 50px; */
/* height: 70px; */
/* } */

#line_block {
  display: inline-block;
  width: 24%;
  height: 55%;
  margin: 1%;
  text-align: center;
}
.hover-image-scale {
  display: inline-block;
  overflow: hidden;
}
.hover-image-scale img {
  transition: 1s;
  display: block;
}
.hover-image-scale img:hover {
  transform: scale(1.2);
}

.img__description {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 8%;
  font-family: Kaisei Decol;
  font-size: large;
  background: rgba(0, 0, 0, 0.874);
  color: #ffe1e1;
  text-decoration: none;
  visibility: collapse;
  opacity: 0;
  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}
.al {
  text-decoration: none;
}
.hover-image-scale:hover .img__description {
  visibility: visible;
  opacity: 1;
}
.available {
  color: rgb(6, 71, 6);
}

.reserved {
  color: rgb(59, 6, 6);
}

.userPhoto {
  width: 30%;
  height: 20%;
  margin-left: 35%;
  margin-top: 5%;
}
.userTextLogin {
  font-family: Kaisei Decol;
  font-size: 170%;
  text-align: center;
  word-break: break-all;
}
.userTextEmail {
  font-family: Kaisei Decol;
  font-size: 150%;
  text-align: center;
  word-break: break-all;
}
.buttonEditUser {
  margin-top: 1%;
  margin-left: 30%;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: 1s;
  border: 1px solid var(--text-color);
  font-family: Kaisei Decol;
  font-size: 110%;
  width: 40%;
}

.buttonBookDes{
  margin-top: 1%;
  background-color: var(--background-color );
  color: var(--text-color);
  transition: 1s;
  border: 1px solid var(--text-color);
  font-family: Kaisei Decol;
  font-size: 80%;
  width: 70%;
}
