<body class="content">
  <app-navbar> </app-navbar>
  <div class="container">
    <div class="my-custom-div">
      <div class="fixed-block"></div>
      <div class="scroll">
        <div id="line_block" class="hover-image-scale">
          <img src="/assets/imgBooks/book1.jpg" alt="" class="imgBook" />
          <span class="available">AVAILABLE</span>
          <div class="img__description">
            <div>
              <button class="buttonBookDes">description</button>
            </div>
            <div>
              <button class="buttonBookDes">ADD TO CART</button>
            </div>
            <div>
              <button class="buttonBookDes">ALREADY IN CARD</button>
            </div>
          </div>
        </div>
        <div id="line_block" class="hover-image-scale">
          <img src="/assets/imgBooks/book1.jpg" alt="" class="imgBook" />
          <span class="available">AVAILABLE</span>
          <div class="img__description">
            <div>
              <button class="buttonBookDes">description</button>
            </div>
            <div>
              <button class="buttonBookDes">ADD TO CART</button>
            </div>
            <div>
              <button class="buttonBookDes">ALREADY IN CARD</button>
            </div>
          </div>
        </div>
      </div>
      <div class="userbox">
        <img src="/assets/userPhotos/userPhoto1.png" alt="" class="userPhoto">
        <p class="userTextLogin">Mr. Ben Pitt</p>
        <p class="userTextEmail">bennypitt@gmail.com</p>
        <button class="buttonEditUser">EDIT PROFILE</button>
        <p class="userTextLogin">BORROWED BOOKS</p>
        <table>
          <thead>
            <td style="width: 25%; text-align: center;">image</td>
            <td style="width: 52%; text-align: center;">title</td>
            <td style="width:35%; text-align: center;">date of return</td>
          </thead>
          <div class="my-custom-div2">
            <div class="fixed-block"></div>
            <div class="scroll">
              <th style="width: 100px"></th>
              <th style="width: 200px;"></th>
              <th style="width: 200px;"></th>
              
              <tr>
                <td>
                  <img src="/assets/imgBooks/book1.jpg" alt="" class="imgBorrowedBook" />
                </td>
                <td>TEST</td>
                <td>TEST</td>
                
              </tr>
              <tr>
                <td>
                  <img src="/assets/imgBooks/book1.jpg" alt="" class="imgBorrowedBook" />
                </td>
                <td>TEST</td>
                <td>TEST</td>
                
              </tr>
              <tr>
                <td>
                  <img src="/assets/imgBooks/book1.jpg" alt="" class="imgBorrowedBook" />
                </td>
                <td>TEST</td>
                <td>TEST</td>
                
              </tr>
              <tr>
                <td>
                  <img src="/assets/imgBooks/book1.jpg" alt="" class="imgBorrowedBook" />
                </td>
                <td>TEST</td>
                <td>TEST</td>
                
              </tr>
              <tr>
                <td>
                  <img src="/assets/imgBooks/book1.jpg" alt="" class="imgBorrowedBook" />
                </td>
                <td>TEST</td>
                <td>TEST</td>
                
              </tr>
              <tr>
                <td>
                  <img src="/assets/imgBooks/book1.jpg" alt="" class="imgBorrowedBook" />
                </td>
                <td>TEST</td>
                <td>TEST</td>
                
              </tr>
              <tr>
                <td>
                  <img src="/assets/imgBooks/book1.jpg" alt="" class="imgBorrowedBook" />
                </td>
                <td>TEST</td>
                <td>TEST</td>
                
              </tr>
              <tr>
                <td>
                  <img src="/assets/imgBooks/book1.jpg" alt="" class="imgBorrowedBook" />
                </td>
                <td>TEST</td>
                <td>TEST</td>
                
              </tr>
              <tr>
                <td>
                  <img src="/assets/imgBooks/book1.jpg" alt="" class="imgBorrowedBook" />
                </td>
                <td>TEST</td>
                <td>TEST</td>
                
              </tr>
              <tr>
                <td>
                  <img src="/assets/imgBooks/book1.jpg" alt="" class="imgBorrowedBook" />
                </td>
                <td>TEST</td>
                <td>TEST</td>
                
              </tr>
              <tr>
                <td>
                  <img src="/assets/imgBooks/book1.jpg" alt="" class="imgBorrowedBook" />
                </td>
                <td>TEST</td>
                <td>TEST</td>
                
              </tr>
            </div>
          </div>
        </table>
      </div>
    </div>
  </div>
</body>
