<body>
  <div class="box">
    <div class="img1 divin">
      <img src="/assets/imgBooks/book1.jpg" alt="" class="grey-image" />
    </div>
    <div class="img2 divin">
      <img src="/assets/imgBooks/book2.jpg" alt="" class="grey-image" />
    </div>
    <div class="img3 divin">
      <img src="/assets//imgBooks/book3.jpg" alt="" class="grey-image" />
    </div>
    <div class="block">
      <div class="text1">
        FIND<br /><br /><br /><br />
        THE RIGHT BOOKS <br /><br /><br /><br />FOR YOU
      </div>
      <div class="text0">
        THOUSANDS OF WORLDS<br />
        ON ONE SITE
      </div>

      <!-- <LogIn Form> -->
        <form (ngSubmit)="logIn()" #loginForm="ngForm">
          <div class="loginbox">
            <div class="text2">LOGIN</div>
            <div>
              <input
                type="text"
                placeholder="username"
                name="username"
                [(ngModel)]="username"
                required
              />
            </div>
            <div>
              <input
                type="password"
                placeholder="Password"
                name="password"
                [(ngModel)]="password"
                required
              />
            </div>
            <button type="submit" class="button0">LOG IN</button>
            <div class="text3">
              Don't you have an account? <br />Register below.
            </div>
            <button class="button0" routerLink="/registration">SIGN UP</button>
          </div>
        </form>

      <div class="text01">
        Our project was created in 2023 by three enthusiasts in <br />order for
        people to love reading even more.<br /><br />

        Here you can reserve a book and pick it up from the <br />library at any
        convenient time for you.<br />
        <div class="text4">Free Library</div>

      <ul>
        <li><a routerLink="/helppage">Help</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/team">Team</a></li>
      </ul>
      </div>
    </div>
  </div>
</body>
