<section id="about">
    <div class="details-container">
        <h1 class="title">Project Introductie:</h1>
        <div class="content-container">
            <p class="text-project">
                Als groepsproject voor Intec Brussel, hebben we een bibliotheek applicatie gemaakt.
                Deze applicatie is een volledig online systeem waar we onze favoriete boeken kunnen opzoeken, opslaan, updaten en wissen uit de bibliotheek.
                Deze presentatie zal u een duidelijk beeld geven van de voorbereiding en executie van het hele project.
            </p>
        </div>
        <h1 class="title">Project Startup:</h1>
        <div class="content-container">
            <p class="text-project">
                - Bespreking van het project, het doel en de doelgroep, samen met het hele team
            </p>
            <p class="text-project">
                - Verzamelen van alle functies en taken alsook het verdelen ervan</p>
            <p class="text-project">
                - Alle inspanningen inschatten en updaten
            </p>
            <p class="text-project">
                - Toepassen van de Scrum methodologie of het Scrum Framework: Dit is een werkwijze die teams in staat stelt om op een flexibele wijze een (software) product te maken. Het team is zelf verantwoordelijk voor het bedenken en implementeren van de oplossing, als antwoord op de vragen van de klant.
            </p>     
            <img
                    src="./assets/Picture1.png"
                    alt="Profile picture"
                    class="about-pic"
                />               
        </div>
        <a href="https://www.scrum.org/" target="_blank">
            <img
            src="./assets/Scrummr.jpg"
            alt="My Github profile"
            class="icon"/></a>

            <h1 class="title">Sprint Planning:</h1>
            <p class="text-project">
                - Duur: 2 weken
            </p>
            <p class="text-project">
                - Tijd verdeling per object of taak
            </p>
            <p class="text-project">
                - Tussentijdse meetings inplannen 
                   om bij te kunnen sturen waar nodig
            </p><div id="socials-container">
            <a href="https://linaberns.atlassian.net/jira/software/projects/LIB/boards/6/timeline" target="_blank">
                <img
                src="./assets/Jira-logo4.png"
                alt="My Github profile"
                class="icon"
            />    
            </a>
            </div>
            <h1 class="title">UML Diagrammen:</h1>
            <p class="text-project">
                - Use case diagram
            </p>
            <p class="text-project">
                - Flowchart
            </p>
            <p class="text-project">
                - Seqentie diagram
            </p>
            <p class="text-project">
                - klassen diagram
            </p>

            <div id="socials-container">
                <a href="https://github.com/2TomL/LIBRARY-FINAL-Diagrams" target="_blank">
                   <img
                       src="./assets/github.png"
                       alt="My Github profile"
                       class="icon"
                   />                
                </a>
               </div>
            <h1 class="title">Project Tools:</h1>
            <p class="text-project">
                - Backend: Intellij, VSC, ...
            </p>
            <p class="text-project">
                - Frontend: Figma, VSC,
            </p>
            <p class="text-project">
                - Planning: Jira
            </p>
            <p class="text-project">
                - UML (Unified Modeling Language): Draw.io
            </p>
            <p class="text-project">
                - Intern communication: Microsoft Teams
            </p>
            <p class="text-project">
                - Code Hub: Github
            </p>
            <p class="text-project">
                - Problemsolving: ChatGPT
            </p>
            
            <div id="socials-container">
             <a href="https://www.jetbrains.com/" target="_blank">
                <img
                    src="./assets/IJ-logo1.png"
                    alt="My Github profile"
                    class="icon"
                />
             </a>
             <a href="https://code.visualstudio.com/" target="_blank">
                <img
                    src="./assets/VSC-logo2.png"
                    alt="My Github profile"
                    class="icon"
                />
             </a>
             <a href="https://www.figma.com/" target="_blank">
                <img
                    src="./assets/Figma-logo3.png"
                    alt="My Github profile"
                    class="icon"
                />
             </a>
             <a href="https://www.Jira.com/" target="_blank">
                <img
                    src="./assets/Jira-logo4.png"
                    alt="My Github profile"
                    class="icon"
                />
             </a>
             <a href="https://www.Drawio.com/" target="_blank">
                <img
                    src="./assets/Draw-logo5.png"
                    alt="My Github profile"
                    class="icon"
                />
             </a>
             <a href="https://www.Teams.com/" target="_blank">
                <img
                    src="./assets/Teams-logo6.png"
                    alt="My Github profile"
                    class="icon"
                />
             </a>
             <a href="https://github.com/" target="_blank">
                <img
                    src="./assets/github.png"
                    alt="My Github profile"
                    class="icon"
                />
             </a>
             <a href="https://openai.com/blog/chatgpt" target="_blank">
                <img
                    src="./assets/Chat-logo8b.png"
                    alt="My Github profile"
                    class="icon"
                />
             </a>
            </div>
            <h1 class="title">Coding Tools:</h1>
            <p class="text-project">
                - Java
            </p>
            <p class="text-project">
                - Type Script
            </p>
            <p class="text-project">
                - MySQL
            </p>
            <p class="text-project">
                - Spring
            </p>
            <p class="text-project">
                - Postman
            </p>
            <p class="text-project">
                - Html
            </p>
            <p class="text-project">
                - CSS
            </p>
            <p class="text-project">
                - Angular
            </p>
            <p class="text-project">
                - Docker
            </p>
            <div id="socials-container">
                <a href="https://www.java.com/" target="_blank">
                   <img
                       src="./assets/Java-logo10.png"
                       alt="My Github profile"
                       class="icon"
                   />                
                </a>
                <a href="https://www.typescriptlang.org/" target="_blank">
                    <img
                        src="./assets/TS-logo12.png"
                        alt="My Github profile"
                        class="icon"
                    />                
                 </a>
                 <a href="https://www.mysql.com/" target="_blank">
                    <img
                        src="./assets/MySQL-logo13.png"
                        alt="My Github profile"
                        class="icon"
                    />                
                 </a>
                 <a href="https://spring.io/" target="_blank">
                    <img
                        src="./assets/SB-logo14.png"
                        alt="My Github profile"
                        class="icon"
                    />                
                 </a>
                 <a href="https://www.postman.com/" target="_blank">
                    <img
                        src="./assets/PM-logo15.png"
                        alt="My Github profile"
                        class="icon"
                    />                
                 </a>
                 <a href="https://en.wikipedia.org/wiki/HTML" target="_blank">
                    <img
                        src="./assets/HTML-logo16.png"
                        alt="My Github profile"
                        class="icon"
                    />                
                 </a>
                 <a href="https://en.wikipedia.org/wiki/CSS" target="_blank">
                    <img
                        src="./assets/CSS-logo17.png"
                        alt="My Github profile"
                        class="icon"
                    />                
                 </a>
                 <a href="https://angular.io/" target="_blank">
                    <img
                        src="./assets/Ang-logo18.png"
                        alt="My Github profile"
                        class="icon"
                    />                
                 </a>
                 <a href="https://www.docker.com/" target="_blank">
                    <img
                        src="./assets/Dock-logo19.png"
                        alt="My Github profile"
                        class="icon"
                    />                
                 </a>
               </div>
               <h1 class="title">Project:</h1>
               <p class="text-project">
                   - GitHub Complete Library application project.
               </p>
               <div id="socials-container">
                <a href="https://github.com/walid-elaazmani/Library-app" target="_blank">
                   <img
                       src="./assets/GitBook1.png"
                       alt="My Github profile"
                       class="icon"
                   />                
                </a>
               </div>
               <h1 class="title">Project:</h1>
               <p class="text-project">
                   - GitHub Complete Technical workfile as dev. guidelines.
               </p>
               <div id="socials-container">
                <a href="./assets/Library (FRONTEND).pdf" target="_blank">
                   <img
                       src="./assets/GitTek1.png"
                       alt="My Github profile"
                       class="icon"
                   />                
                </a>
               </div>
               <img
               src="./assets/arrow.png"
               alt="Arrow icon"
               class="icon arrow"
               onclick="location.href='./aboutus'"
             />
    </div>    
</section>
