<body class="content">
  <app-navbarcart></app-navbarcart>
  <div class="container">
    <div style="display: flex">
      <button class="buttonCart" style="position: fixed">RESERVE BOOKS</button>
      <button class="buttonCart" style="position: fixed; margin-left: 22%">
        CLEAR CART
      </button>
    </div>

    <div class="my-custom-div" style="margin-top: 3%">
      <div class="fixed-block"></div>
      <div class="scroll">
        <table>
          <tr>
            <th>
              <img src="/assets/imgBooks/book1.jpg" alt="" class="imgBook" />
            </th>
            <th>"Revival"</th>
            <th>Steven King</th>
            <th>9123456789123</th>
            <th style="width: 5%">
              <div>
                <input
                  id="highload0"
                  class="checkbox-custom"
                  name="highload0"
                  type="checkbox"
                  style="height: 20px; width: 20px"
                />
                <label for="highload0" class="checkbox-custom-label"></label>
              </div>
            </th>
            <th>
              <button class="buttonCart" style="width: 80%">RESERVE</button>
            </th>
          </tr>
          <tr>
            <th>
              <img src="/assets/imgBooks/book1.jpg" alt="" class="imgBook" />
            </th>
            <th>"Revival"</th>
            <th>Steven King</th>
            <th>9123456789123</th>
            <th style="width: 5%">
              <div>
                <input
                  id="highload0"
                  class="checkbox-custom"
                  name="highload0"
                  type="checkbox"
                  style="height: 20px; width: 20px"
                />
                <label for="highload0" class="checkbox-custom-label"></label>
              </div>
            </th>
            <th>
              <button class="buttonCart" style="width: 80%">RESERVE</button>
            </th>
          </tr>
          <tr>
            <th>
              <img src="/assets/imgBooks/book1.jpg" alt="" class="imgBook" />
            </th>
            <th>"Revival"</th>
            <th>Steven King</th>
            <th>9123456789123</th>
            <th style="width: 5%">
              <div>
                <input
                  id="highload0"
                  class="checkbox-custom"
                  name="highload0"
                  type="checkbox"
                  style="height: 20px; width: 20px"
                />
                <label for="highload0" class="checkbox-custom-label"></label>
              </div>
            </th>
            <th>
              <button class="buttonCart" style="width: 80%">RESERVE</button>
            </th>
          </tr>
          <tr>
            <th>
              <img src="/assets/imgBooks/book1.jpg" alt="" class="imgBook" />
            </th>
            <th>"Revival"</th>
            <th>Steven King</th>
            <th>9123456789123</th>
            <th style="width: 5%">
              <div>
                <input
                  id="highload0"
                  class="checkbox-custom"
                  name="highload0"
                  type="checkbox"
                  style="height: 20px; width: 20px"
                />
                <label for="highload0" class="checkbox-custom-label"></label>
              </div>
            </th>
            <th>
              <button class="buttonCart" style="width: 80%">RESERVE</button>
            </th>
          </tr>
          <tr>
            <th>
              <img src="/assets/imgBooks/book1.jpg" alt="" class="imgBook" />
            </th>
            <th>"Revival"</th>
            <th>Steven King</th>
            <th>9123456789123</th>
            <th style="width: 5%">
              <div>
                <input
                  id="highload0"
                  class="checkbox-custom"
                  name="highload0"
                  type="checkbox"
                  style="height: 20px; width: 20px"
                />
                <label for="highload0" class="checkbox-custom-label"></label>
              </div>
            </th>
            <th>
              <button class="buttonCart" style="width: 80%">RESERVE</button>
            </th>
          </tr>
          <tr>
            <th>
              <img src="/assets/imgBooks/book1.jpg" alt="" class="imgBook" />
            </th>
            <th>"Revival"</th>
            <th>Steven King</th>
            <th>9123456789123</th>
            <th style="width: 5%">
              <div>
                <input
                  id="highload0"
                  class="checkbox-custom"
                  name="highload0"
                  type="checkbox"
                  style="height: 20px; width: 20px"
                />
                <label for="highload0" class="checkbox-custom-label"></label>
              </div>
            </th>
            <th>
              <button class="buttonCart" style="width: 80%">RESERVE</button>
            </th>
          </tr>
          <tr>
            <th>
              <img src="/assets/imgBooks/book1.jpg" alt="" class="imgBook" />
            </th>
            <th>"Revival"</th>
            <th>Steven King</th>
            <th>9123456789123</th>
            <th style="width: 5%">
              <div>
                <input
                  id="highload0"
                  class="checkbox-custom"
                  name="highload0"
                  type="checkbox"
                  style="height: 20px; width: 20px"
                />
                <label for="highload0" class="checkbox-custom-label"></label>
              </div>
            </th>
            <th>
              <button class="buttonCart" style="width: 80%">RESERVE</button>
            </th>
          </tr>
        </table>
      </div>
    </div>

    <div class="userbox">
      <img src="/assets/userPhotos/userPhoto1.png" alt="" class="userPhoto" />
      <p class="userTextLogin">Mr. Ben Pitt</p>
      <p class="userTextEmail">bennypitt@gmail.com</p>
      <button class="buttonEditUser" routerLink="/account">EDIT PROFILE</button>
      <p class="userTextLogin">BORROWED BOOKS</p>
      <table>
        <thead>
          <td style="width: 25%; text-align: center">image</td>
          <td style="width: 52%; text-align: center">title</td>
          <td style="width: 35%; text-align: center">date of return</td>
        </thead>
        <div class="my-custom-div2">
          <div class="fixed-block"></div>
          <div class="scroll">
            <th style="width: 100px"></th>
            <th style="width: 200px"></th>
            <th style="width: 200px"></th>

            <tr>
              <td>
                <img
                  src="/assets/imgBooks/book1.jpg"
                  alt=""
                  class="imgBorrowedBook"
                />
              </td>
              <td>TEST</td>
              <td>TEST</td>
            </tr>
            <tr>
              <td>
                <img
                  src="/assets/imgBooks/book1.jpg"
                  alt=""
                  class="imgBorrowedBook"
                />
              </td>
              <td>TEST</td>
              <td>TEST</td>
            </tr>
            <tr>
              <td>
                <img
                  src="/assets/imgBooks/book1.jpg"
                  alt=""
                  class="imgBorrowedBook"
                />
              </td>
              <td>TEST</td>
              <td>TEST</td>
            </tr>
            <tr>
              <td>
                <img
                  src="/assets/imgBooks/book1.jpg"
                  alt=""
                  class="imgBorrowedBook"
                />
              </td>
              <td>TEST</td>
              <td>TEST</td>
            </tr>
            <tr>
              <td>
                <img
                  src="/assets/imgBooks/book1.jpg"
                  alt=""
                  class="imgBorrowedBook"
                />
              </td>
              <td>TEST</td>
              <td>TEST</td>
            </tr>
            <tr>
              <td>
                <img
                  src="/assets/imgBooks/book1.jpg"
                  alt=""
                  class="imgBorrowedBook"
                />
              </td>
              <td>TEST</td>
              <td>TEST</td>
            </tr>
            <tr>
              <td>
                <img
                  src="/assets/imgBooks/book1.jpg"
                  alt=""
                  class="imgBorrowedBook"
                />
              </td>
              <td>TEST</td>
              <td>TEST</td>
            </tr>
            <tr>
              <td>
                <img
                  src="/assets/imgBooks/book1.jpg"
                  alt=""
                  class="imgBorrowedBook"
                />
              </td>
              <td>TEST</td>
              <td>TEST</td>
            </tr>
            <tr>
              <td>
                <img
                  src="/assets/imgBooks/book1.jpg"
                  alt=""
                  class="imgBorrowedBook"
                />
              </td>
              <td>TEST</td>
              <td>TEST</td>
            </tr>
            <tr>
              <td>
                <img
                  src="/assets/imgBooks/book1.jpg"
                  alt=""
                  class="imgBorrowedBook"
                />
              </td>
              <td>TEST</td>
              <td>TEST</td>
            </tr>
            <tr>
              <td>
                <img
                  src="/assets/imgBooks/book1.jpg"
                  alt=""
                  class="imgBorrowedBook"
                />
              </td>
              <td>TEST</td>
              <td>TEST</td>
            </tr>
          </div>
        </div>
      </table>
    </div>
  </div>
</body>
