<body>
  

<app-aboutus-navbar></app-aboutus-navbar>
<section id="about">
    <div class="wrap-container">
      <h1 class="title">Bedankt!</h1>
      <div class="section-container">
        <div class="section__pic-container">
          <a href="https://github.com/intec-cmanuel" target="_blank">
            <img
            src="./assets/Manuel11.png"
            alt="Profile picture"
            class="about-pic"
          />
          </a> 
          <a href="https://github.com/quintendc" target="_blank">
            <img
            src="./assets/Quinten.png"
            alt="Profile picture"
            class="about-pic"
          />
          </a>
          <a href="https://github.com/JoeydeKort" target="_blank">
            <img
            src="./assets/Joey.png"
            alt="Profile picture"
            class="about-pic"
          />
          </a>
          <a href="https://github.com/" target="_blank">
            <img
            src="./assets/pearl.png"
            alt="Profile picture"
            class="about-pic"
          />
          </a>
        </div>
        <div class="about-details-container">
          <div class="about-containers">
            <div class="details-container">
              <p>
                Als laatste woord willen wij, Alina B. Walid E A. & Tom L., graag iedereen bedanken die heeft bijgedragen aan deze prachtige ervaring.
                Allereerst willen we natuurlijk onze leerkrachten JAVA Developement: Manuel, Quinten, Joey en Pearl vooral bedanken alsook alle mensen hieronder vermeld in de lijst.
              </p>
              <a class="a-style">Taalcoaching:</a>
              <p>Cedric Van Den Berghe</p>
              <p>Jana Van Landeghem</p>
              <a class="a-style">Tewerkstelling:</a>
              <p>Fadwa Elidrissi</p>
              <p>Lie Albers</p>
              <p>Alberto De Maio</p>
              <a class="a-style">Directie:</a>
              <p>Ruud Marks</p>
              <p>Ilse Deceuninck</p>
              <a>Van harte bedankt allemaal voor het delen van jullie kennis, jullie hulp, jullie geduld en zeker niet te vergeten jullie steun.</a>
              <div id="socials-container">
                  <a href="https://www.intecbrussel.be/" target="_blank">
                      <img
                          src="./assets/intec.png"
                          alt="My linkedin profile"
                          class="icon"
                      />
                  </a>
                  <a href="https://www.vdab.be/" target="_blank">
                      <img
                          src="./assets/VDAB.png"
                          alt="My Github profile"
                          class="icon"
                      />
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <img
        src="./assets/arrowhome.png"
        alt="Arrow icon"
        class="icon arrow"
        onclick="location.href='./projectdetails'"
      />
    </section>
  </body>
