<body class="content">
    <app-navbaraccount></app-navbaraccount>
    <div class="container">
      <div class="my-custom-div">
        <div class="fixed-block">

        <p class="userTextLogin">EDIT PROFILE</p>

        <p class="userTextLogin" style="font-size: medium">CHANGE USERNAME</p>
        <div>
          <input
            type="text"
            placeholder="New username"
            [(ngModel)]="newUsername"
            (input)="onInputChange('username')"
            [disabled]="disableOtherFields && activeField !== 'username'"
          />
          <button
            class="buttonEditUser"
            style="margin-top: 3%; width: 15%; margin-left: 42%"
            (click)="updateUserInfo()"
          >
            CONFIRM
          </button>
        </div>

        <p class="userTextLogin" style="font-size: medium; margin-top: 3%">
          CHANGE EMAIL
        </p>
        <div>
          <input
            type="text"
            placeholder="New email"
            [(ngModel)]="newEmail"
            (input)="onInputChange('email')"
            [disabled]="disableOtherFields && activeField !== 'email'"
          />
          <button
            class="buttonEditUser"
            style="margin-top: 3%; width: 15%; margin-left: 42%"
            (click)="updateUserInfo()"
          >
            CONFIRM
          </button>
        </div>

        <div>
          <p class="userTextLogin" style="font-size: medium; margin-top: 3%">
            CHANGE PASSWORD
          </p>
          <div>
            <input
              type="password"
              placeholder="Old password"
              [(ngModel)]="oldPassword"
              (input)="onInputChange('password')"
              [disabled]="disableOtherFields && activeField !== 'password'"
            />
          </div>

          <div>
            <input
              type="password"
              placeholder="New password"
              [(ngModel)]="newPassword"
              (input)="onInputChange('password')"
              [disabled]="disableOtherFields && activeField !== 'password'"
            />
          </div>

          <div>
            <input
              type="password"
              placeholder="Confirm your new password"
              [(ngModel)]="confirmPassword"
              (input)="onInputChange('password')"
              [disabled]="disableOtherFields && activeField !== 'password'"
            />
          </div>

          <button
            class="buttonEditUser"
            style="margin-top: 3%; width: 15%; margin-left: 42%"
            (click)="changePassword()"
          >
            CONFIRM
          </button>
        </div>

        <button
          class="buttonEditUser"
          style="
            margin-top: 3%;
            width: 15%;
            margin-left: 42%;
            background-color: darkred;
          "
          (click)="deleteAccount()"
        >
          DELETE ACCOUNT
        </button>
      </div>

      <!--REMOVE THIS ?-->

      <div class="userbox">
        <img src="/assets/userPhotos/userPhoto{{id}}.png" alt="" class="userPhoto" />
        <p class="userTextLogin">{{username}}</p>
        <p class="userTextEmail">{{email}}</p>
        <button class="buttonEditUser" routerLink="">SAVE PROFILE</button>
        <p class="userTextLogin">YOUR BOOKS</p>
        <table>
          <thead>
            <td (click)="sortDataByTitle()" 
            [class.sorted-asc]="sortDirection === 'asc'" 
            [class.sorted-desc]="sortDirection === 'desc'" style="width: 35%; text-align: center">title</td>
            <td (click)="sortDataByData()" 
            [class.sorted-asc]="sortDirection === 'asc'" 
            [class.sorted-desc]="sortDirection === 'desc'" style="width: 25%; text-align: center">return book</td>
            <td style="width: 40%; text-align: center">
              &nbsp;&nbsp;&nbsp;cancel a reservation&nbsp;&nbsp;&nbsp;
            </td>
          </thead>
          <div class="my-custom-div2">
            <div class="fixed-block"></div>
            <div class="scroll">
              <th style="width: 200px"></th>
              <th style="width: 200px;"></th>
              <th style="width: 200px;"></th>

              <tr *ngFor="let book of reservedBooks" >
                <td class="textTable">{{book.book.title}}</td>
                <td>{{book.dateOfReturn}}</td>
                <td>
                  <button class="buttonCancelaRes" 
                  (click)="returnBook(book.book.id)">cancel</button>
                </td>
              </tr>
            </div>
          </div>
        </table>
      </div>
    </div>
  </div>
</body>
