.content {
    color: var(--text-color);
    transition: 1s;
    margin: 0%;
    padding: 0%;
    outline: none;
    top: 0;
    left: 0;
    right: 0;
    
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    animation: ani 2.5s forwards;
}
.container {
    position: relative;
    height: 100vh;
  }

  div.scroll {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
    background-color: var(--background-color);
  }
  div.container0 {
    width: 98%;
    height: 80%;
    position: fixed;
    
    opacity: 0;
    animation: ani 2.5s forwards;
  }
  
  .table {
    position: fixed;
    text-align: center;
    width: 98%;
    margin-left: 1%;
    margin-top: 4%;
    font-family: Kaisei Decol;
    border-collapse: collapse;
   
    background-color: rgba(128, 128, 128, 0.616) !important;
  
    color: var(--text-color);
  }
  .table th {
    text-align: center;
    font-weight: bold;
    padding: 7px;
    background: #2d2d2d13 !important;
    border: none;
    font-size: 15px;
    font-family: Kaisei Decol;
    color: var(--text-color);
    
  }
  
  .table td {
    padding: 7px;
    border: none;
    font-size: 19px;
    font-family: Kaisei Decol;
    color: var(--text-color);
    text-align: center;
    word-break: break-all;
  }
  @keyframes ani {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .table tbody tr:nth-child(even) {
    background: #2d2d2d13 !important;
  }
  .table tbody tr:nth-child(even):hover {
    background: #b0b0b089 !important;
  }
  .table tbody tr:hover {
 
    background: #b0b0b089 !important;
  }
  
  .imgUser {
    width: 50px;
    height: 50px;
  }
  .imgBook {
    width: 90px;
    height: 120px;
  }
  
  .tables {
    width: auto;
    height: auto;
    display: flex;
    opacity: 0;
    animation: ani 2.5s forwards;
  }
  .buttonsBook {
    height: 50px;
  }
  .buttonsBook2 {
    height: 20px;
  }
  .button0 {
    margin-top: 8px;
    width: 100px;
    height: 35px;
    background: rgb(0, 0, 0);
    color: #ffffffae;
    text-align: center;
    text-shadow: rgba(255, 255, 0, 0.041);
    font-family: Kaisei Decol;
    font-size: 15px;
    margin-left: 10px;
    border: 1px solid grey;
    transition: 1s;
  }
  .button0:hover {
    transition: 1s;
    color: white;
    background: rgb(3, 3, 3);
  }
  
  .buttonBook1 {
    margin-top: 8px;
    width: 100px;
    height: 35px;
    background: rgb(154, 0, 0);
    color: #ffffffae;
    text-align: center;
    text-shadow: rgba(255, 255, 0, 0.041);
    font-family: Kaisei Decol;
    font-size: 15px;
  
    border: 1px solid grey;
    transition: 1s;
  }
  .buttonBook1:hover{
    background: rgb(185, 1, 1);
    color: #ffffff;
  }
  .buttonBook2 {
    margin-top: 8px;
    width: 100px;
    height: 35px;
    background: rgb(0, 36, 154);
    color: #ffffffae;
    text-align: center;
    text-shadow: rgba(255, 255, 0, 0.041);
    font-family: Kaisei Decol;
    font-size: 15px;
  transition: 1s;;
    border: 1px solid grey;
  }
  .buttonBook2:hover{
    background: rgb(0, 47, 199);
    color: #fffffffa;
  }
  .button1:hover {
    transition: 1s;
    color: white;
    background: rgb(115, 3, 3);
  }
  
  .button4 {
    background-color: rgba(0, 0, 0, 0.091);
    color: #fefdfd94;
    font-family: Kaisei HarunoUmi;
    font-size: 15px;
    text-align: center;
    width: 80px;
    height: 30px;
    border: 1px solid grey;
    transition: 1s;
  }
  
  .button4:hover {
    transition: 1s;
    color: white;
    background: rgb(3, 3, 3);
  }
  input {
    height: 30px;
    width: 300px;
    background: #0000006a;
    color: #fefdfdef;
    font-family: Kaisei HarunoUmi;
    font-size: 15px;
    text-align: center;
    border: 1px solid grey;
  }
  
  input::-webkit-input-placeholder {
    color: #ffffff99;
    font-style: italic;
    background: #000000;
  }
  @keyframes ch-color {
    0% {
      text-shadow: 0px 4px 4px rgba(255, 204, 0, 0.418);
    }
    25% {
      text-shadow: 0px 4px 4px rgba(255, 216, 45, 0.854);
    }
    50% {
      text-shadow: 0px 4px 4px rgba(255, 213, 0, 0.555);
    }
    75% {
      text-shadow: 0px 4px 4px rgba(255, 225, 103, 0.897);
    }
    100% {
      text-shadow: 0px 4px 4px rgba(255, 200, 0, 0.452);
    }
  }
  input:-moz-placeholder {
    color: #fbfcf958;
    font-style: italic;
    background: #000000;
  }
  input:-ms-input-placeholder {
    color: #6b6b6b;
    font-style: italic;
    background: #0000005e;
  }
  form {
    margin-top: 10px;
    margin-left: 250px;
    height: 30px;
  }
  .available {
    color: #00bf00;
    
  }
  
  .reserved {
    color: #9e0000;
  }
  
  .addBook {
    width: 400px;
    height: 560px;
    background-color: #0000007b;
    margin-top: 100px;
    margin-left: 40px;
    position: fixed;
    float: right;
    border: 1px solid grey;
    transition: 1s;
  }
  .addBook:hover {
    background-color: #000000be;
    transition: 1s;
  }
  .addBookInput {
    margin-top: 30px;
    font-size: 17px;
  }
  .addBookText {
    animation: ch-color 3s infinite;
    font-family: Kaisei HarunoUmi;
    font-size: 30px;
    color: #f8f8f88e;
    text-align: center;
    margin-top: 50px;
  }
  ul > li > a {
    display: inline-block;
    color: #ffffffc3;
    text-align: right;
    font-family: Kaisei Decol;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 970px;
    margin-left: 270px;
    
  }
  
  ul>li>a:hover{
    color: #ffffff;
  }
  ul > li {
    display: inline-block;
    text-align: right;
  }
  .buttonCart {
    margin-top: 2%;
    margin-left: 1%;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: 1s;
    border: 1px solid var(--text-color);
    font-family: Kaisei Decol;
    font-size: 110%;
    width: 20%;
  }

  .buttonCart:hover{
    background-color: var(--hover-button-color);
  color: var(--hover-text-color);
  border: 1px solid var(--text-color);

  }

  th {
    cursor: pointer;
    user-select: none;
  }
  
  .sorted-asc::after {
    content: ' ↑';
  }
  
  .sorted-desc::after {
    content: ' ↓';
  }

  .textTable{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    max-width: 300px;
    text-align: center;
    position: static;
    height: 50px;
    
  }
  .textTable:hover{
    max-width: none; 
    white-space: normal; 
    overflow: visible; 
    text-overflow: initial;
  }
  
  