body {
  margin: 0%;
  padding: 0%;
  outline: none;
  top: 0;
  left: 0;
  right: 0;
}
:root {
  --primary-color: #000000;
  --background-color: #ffffffa5;
  --text-color: #080808d8;
  --border-color: rgba(255, 255, 255, 0.578);
  background-image: url(assets/background_img3.jpg);
  background-size: cover;
  background-attachment: fixed;
  --button-color: rgba(222, 213, 196, 0.854);
  --hover-button-color: rgb(222, 213, 196);
  --hover-text-color: #080808;
  --hover-border-color:rgb(255, 255, 255);
  
}
.mid-theme {
  --primary-color: #000000;
  --background-color: #ffffffa5;
  --text-color: #080808d8;
  --border-color: rgba(255, 255, 255, 0.578);
  background-image: url(assets/background_img4.jpg);
  background-size: cover;
  background-attachment: fixed;
  --button-color: rgba(222, 213, 196, 0.854);
  
}

.dark-theme {
  
  --primary-color: #000000;
  --background-color: #10010c9c;
  background-image: url(assets/background_img6.jpg);
  --text-color: #dcdcdcea;
  --border-color: rgba(255, 255, 255, 0.637);
  --button-color: rgba(0, 0, 0, 0.744);
  --hover-button-color: rgb(55, 55, 55);
  --hover-text-color: #ffffff;
  --hover-border-color:rgb(255, 255, 255);
  margin: 0%;
  padding: 0%;
  outline: none;
  top: 0;
  left: 0;
  right: 0;
}
